* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main{
    width: 100%;
    display: flex;
}
/*Navbar starts*/
.navBar{
    width: 100%;
    position: sticky;
    display: flex;
    top: 0;
    z-index: 99;
}

/*Navbar logo section*/
.logoSec{
    width: 18%;
    padding: .5%;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    
}
.LogoImg{
    width: 15%;
    border-radius: 15%;
}
.logotext{
    width: 60%;
    margin-left: 3%;
}
.LogoProfile{
    width: 15%;
    border-radius: 50%;
}

/*Navbar body section*/
.navSec{
    width: 82%;
}
li{
    list-style: none;
    display: block;
}
.navList{
    display: flex;
    justify-content: space-between;
}
.program{
    width: 60%;
    margin-top: 1%;
    margin-left: 1%;
}
.Searchbar{
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 30%;
    display: flex;
    margin-top: 1%;
    margin-left: 1%;
}
.Searchbar input{
    margin-left: 2%;
    width: 90%;
    border: none;
    outline: none;
}
.Searchbar i{
    margin-left: 2%;
    margin-top: 2%;
}
.navIcons{
    width: 10%;
    margin-top: 1%;
    justify-content: space-evenly;
    font-size: larger;
    display: flex;
}
.navIcons i{
    display: block;
    margin-top: 6%;
}
/*Navbar ends*/

/* container  */
.main{
    height: 600px;
}
/* left bar starts */
.leftBar{
    width: 20%;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1%;
}
.small_sec{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 2%;
}
#sideBar li, #noteBar li{
    margin-top: 2%;
}
.button{
    border-top: 1px solid lightgray;
    padding-top: 2%;
    margin-top: 5%;
    color: gray;
    display: flex;
    align-self: center;
}
.button i{
    font-size: 1.3rem;
    margin-right: 5%;
}
.folderBtn{
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.folderList{
    margin-top: 2%;
    display: flex;
}
.folderList p{
    margin-left: 2%;
    width: 90%;
}
#products, #sales{
    margin-top: 2%;
    margin-left: 12%;
}
#products li, #sales li{
    margin: 2%;
}
/* left bar ends */

/* body starts */
.bodyPage{
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
}
header{
    /* border: 2px solid red; */
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}
.head_start, .head_end{
    display: flex;
    justify-content: space-between;
}
.head_start button, .head_end button{
    display: inline;
    width: 80px;
}

.btn, select{
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0px 1%;
    margin-bottom: 2%;
    transition: all;
}
/* .btn:hover, select:hover, .btn i{
    background-color: gray;
    color: white;
} */

.btn i, .greyText{
    color: gray;
}
.greyText{
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 5px;
}
table{
    width: 100%;
    margin-top: 1%;
}
table, th, td{
    border: 1px solid lightgray;
    border-collapse: collapse;
}
th,td{
    /* width: 16%; */
    padding: .5% 1%;
}
.tabImg{
    width: 1.2rem;
}